* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
main {
  background-color: #ffffff;
  display: flex;
  height: 750px;
  width: 1200px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #b5b5b5;
}
body {
  min-height: 100vh;
  display: flex;
  background-color: #f5f5f5;
}
.left-container {
  width: 400px;
  border-right: 1px solid #e5e7eb;
  height: 100%;
  padding: 30px;
}

.location {
  margin-top: 40px;
}
.right-container {
  display: block;
  width: 503px;
  padding-top: 36px;
  padding-inline: 25px;
}


.calendar-week {
  display: flex;
  width: 410px;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.calendar-week p {
  margin: auto;
  width: 39.99px;
  height: 40px;
  padding-right: 2px;
  text-align: center;
  gap: 18.6px;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  margin-bottom: 10px;
}

.prev-next img {
  cursor: pointer;
}
.prev-next img:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}

.duration {
  margin-top: 16px;
}
.dropdown {
  margin-top: 8px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  margin: auto;
  margin-right: 40px;
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-days div:hover {
  background-color: #D7E164;
  border-radius: 50%;
  color: white;
}



.btn-previous {
  background: none;
  border: none;
}

.btn-next {
  background: none;
  border: none;
}

.calendar-month-year {
  display: flex;
  align-items: center;
  margin-right: 190px;
  text-align: center;
}

.active {
  background-color: #d6e1638c;
  color: #ffffff;
  border-radius: 50%;
}

.selected{
  background-color: #d6e1638f;
  color: white;
  border-radius: 50%;
}


.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  margin: 5px;
  width: 200%;
  color: #D7E163;
  border: solid 2px #D7E163;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slot:hover {
  background-color: #d6e163b5;
  color: white;
}
.empty {
  visibility: hidden; 
}

.available-time-slots-container {
  display: block;
  margin: auto;
  align-self: center;
  margin-right: 100px;
  margin-left: 540px;
  margin-bottom: 900px;
  margin-top: -400px;
  justify-items: center;
  border-radius: 8px;
  transition: ease-in;
}

